#flex-container {
    margin-top: 50px;
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11pt;
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
    background-color: #fff;
}

.left {
    /* background-color: aquamarine; */
    flex: 1;
    display: flex;
    flex-direction: column;
    float: left;
    width: 100%;
   
   
}

.right {
    /* background-color: brown; */
    flex: 1;
    display: flex;
    flex-direction: column;
    float:right;
    width: 100%;
   
}
.hidden{
    display: none !important;
}

.left-element {
    /* margin: 10px; */

}

.right-element {
    /* margin: 10px; */
}

.status {
    width: 100%;
    border-radius: 8px;
    /* border: #CCCCCC solid; */
    box-shadow: 0 4px 6px gray;
    /*display: flex;*/
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

.status-info {
    padding: 5px;

}

.btn-done {
    width: 40%;
    padding: 5px;
    background-color: #D61EAD;
    color: white;
    border-radius: 20px;
    text-align: center;
}

.table {
    height: 550px;
    margin: 10px;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    width: 90%;
    box-shadow: 0 4px 6px gray;
    display: flex;
    flex-direction: column;
    position: relative;

}

.table-title {
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 100%;
    align-items: center;
    display: flex;
    /* justify-content: space-between; */
    text-align: center;
    flex-direction: row;
    border-radius: 8px 8px 0 0;
    background-color: #FFE3F0;
}

.table-items {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 100px;
    border: rgb(162, 161, 161) solid 0.5px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    word-break: break-all;
    border-radius: 10px;

}

.align-left {
    margin-left: 10px;
}

.align-right {
    margin-right: 10px;
}

.cus-info {
    border: #CCCCCC solid 0.5px;
    margin: 15px;
    padding: 10px;
    width: 90%;
    height: 70px;
    border-radius: 8px;
    box-shadow: 0 4px 6px gray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cus-info-name {
    display: flex;
    flex-direction: column;
}

.btn-chitiet {
    padding: 5px;
    text-align: center;
    width: 20%;
    margin-right: 10px;
    background-color: #DAD2D2;
    border-radius: 20px;
}

.address {
    border: #CCCCCC solid 0.5px;
    margin: 15px;
    padding: 10px;
    width: 90%;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 6px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.address-title,
.order-title {
    font-weight: bold;

}

.address-content {}

.address-sdt {
    color: #969696;
    font-weight: 400;
}

.order-info {
    border: #CCCCCC solid 0.5px;
    margin: 15px;
    padding: 10px;
    width: 90%;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-price {
    color: #D61EAD;
    font-weight: bold;
}

.horizontal-line {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 20px 0;
}
/* select{
    float: right;
} */
.avt-sp {
    
    width: 60px;
    height: 60px;
    background-color: #CCCCCC;
}
.avt-sp img{
    width: 60px;
    height: 60px;
}
.submit-btn{
    float: left;
    border-radius: 10px;
    margin-left: 20px;
}
.submit-btn:hover{
    background-color: #470138;
}

.avata{
    width: 70px;
    height: 70px;
    background-color: #CCCCCC;
    border-radius: 50%;
}
.title {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #flex-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 13pt;
    }

    .left {
        /* background-color: aquamarine; */
        /* flex: 1; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .right {
        /* background-color: brown; */
        /* flex: 1; */
        /* display: flex; */
        /* flex-direction: column; */
    }

    .left-element {
        /* margin: 10px; */

    }

    .right-element {
        /* margin: 10px; */
    }

    .status {
        width: 70%;
        border-radius: 8px;
        /* border: #CCCCCC solid; */
        box-shadow: 0 4px 6px gray;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px;
        padding: 10px;
    }

    .status-info {
        padding: 5px;
        font-size: 12pt;
        width: 60%;

    }

    .btn-done {
        width: 20%;
        padding: 5px;
        background-color: #D61EAD;
        color: white;
        border-radius: 20px;
        text-align: center;
    }

    .table {
        height: 550px;
        margin: 10px;
        padding: 10px;
        border-radius: 8px 8px 0 0;
        width: 90%;
        box-shadow: 0 4px 6px gray;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .table-title {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        width: 100%;
        align-items: center;
        display: flex;
        /* justify-content: space-between; */
        text-align: center;
        flex-direction: row;
        border-radius: 8px 8px 0 0;
        background-color: #FFE3F0;
    }

    .table-items {
        margin: 10px 0 10px 0;
        width: 95%;
        height: 200px;
        border: rgb(170, 170, 170) solid 0.5px;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        word-break: break-all;

    }

    .align-left {
        margin-left: 10px;
    }

    .align-right {
        margin-right: 10px;
    }

    .cus-info {
        border: #CCCCCC solid 0.5px;
        margin: 15px;
        padding: 10px;
        width: 90%;
        height: 70px;
        border-radius: 8px;
        box-shadow: 0 4px 6px gray;
        /* float: left; */
        /* display: flex;
        flex-direction: row;
        justify-content: space-between; */
        /* align-items: center; */
    }

    .cus-info-name {
        display: flex;
        flex-direction: column;
    }

    .btn-chitiet {
        padding: 5px;
        text-align: center;
        width: 20%;
        margin-right: 10px;
        background-color: #DAD2D2;
        border-radius: 20px;
    }

    .address {
        border: #CCCCCC solid 0.5px;
        margin: 15px;
        padding: 10px;
        width: 90%;
        height: 150px;
        border-radius: 8px;
        box-shadow: 0 4px 6px gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .address-title,
    .order-title {
        font-weight: bold;

    }

    .address-content {}

    .address-sdt {
        color: #969696;
        font-weight: 400;
    }

    .order-info {
        border: #CCCCCC solid 0.5px;
        margin: 15px;
        padding: 10px;
        width: 90%;
        height: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 6px gray;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .order-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .order-price {
        color: #D61EAD;
        font-weight: bold;
    }

    .horizontal-line {
        border-bottom: 1px solid #ccc;
        width: 100%;
        margin: 20px 0;
    }

    .avt-sp {
        width: 60px;
        height: 60px;
        background-color: #CCCCCC;
        /* border: solid black 0.5px; */
    }
    .avata{
        width: 70px;
        height: 70px;
        background-color: #CCCCCC;
        border-radius: 50%;
    }
}